.hamburger {
  overflow: visible;
  width: 1rem;
  height: 1rem;
}

.hamburger.active .line1 {
  opacity: 0;
  transform: translateY(-5px);
} 

.hamburger.active .line2 {
  rotate: 45deg;
  opacity: 1;
} 

.hamburger.active .line3 {
  rotate: -45deg;
  opacity: 1;
} 

.hamburger.active .line4 {
  opacity: 0;
  transform: translateY(5px);
} 

.line1, .line2, .line3, .line4 {
  opacity: unset;
  transform: unset;
  transition: all 400ms;
  transform-origin: center;
  stroke: white;
  stroke-width: 2px;
}

